# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VSCode
.vscode/

# Mac OS
.DS_Store

# Private files
credentials/*
!credentials/.keep

# Ignore everything in the data/input and data/output directories
data/input/*
data/output/*
!data/input/
!data/output/
!data/input/.keep
!data/output/.keep

# Keep some files in the data/input/sample_input directory
!data/input/sample_input/

wandb/

src/anal/*
!src/anal/*.py
!src/anal/*.ipynb
